/out

*.app

*.lo

*.gcov

*.gcda

*.gcno

cppunit.xmL

config.h

config.log

config.status

*.log

*.trs

*.Po

*.o

*.a

autom4te.cache

Makefile

stamp-h1

.DS_Store

.deps

/*~

/*.gz

*.pro.user

moc_*.h
