/out

*.app

*.lo

/html

/latex

*.gcov

*.gcda

*.gcno

.*

cppunit.xmL

config.h

config.log

config.status

src/pdftools

test/testsuit

*.log

*.trs

*.Po

*.o

*.a

autom4te.cache

Makefile

stamp-h1

.deps

/nbproject

/*~

/*.gz

src/testsuit
